body{margin:0;line-height:1; font-family: "Microsoft Yahei";font-size:12px;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;font-size:12px;}
p,dl,dd{margin:0;}
ul,ol{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:#333;}
em,i{font-style:normal;}
strong,b{font-weight: normal;}
img{vertical-align:bottom;border:none;}

table{border-collapse: collapse;}
th,td{padding:0;}
/*可根据实际情况重置*/
th{font-weight:normal;/*vertical-align: top;text-align:left;*/}
td{vertical-align: top;/*text-align:left;*/}

input{margin:0;padding:0;border: 1px;
    outline:none;
    /*清除表单元素获取焦点时的轮廓线*/
    /*border:none;*/}
input, textarea, select, button { font-family: inherit; font-size:inherit;}
textarea{resize:none; overflow:auto;}

.clearfix{*zoom:1;}
.clearfix:after{content:"";display:block;clear:both;}

